.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
    min-width: 520px;
}

.sidenav---sidenav-toggle---1KRjR {
    width: 0px;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T {
    height: 80px;
}